* { margin: 0px; padding: 0px; }
em, i { font-style: normal; }
li { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
button { cursor: pointer; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(200, 22, 35); }
button, input { font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif; }
body { background-color: rgb(255, 255, 255); font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif; color: rgb(102, 102, 102); }
.hide, .none { display: none; }
.clearfix::after { visibility: hidden; clear: both; display: block; content: "."; height: 0px; }
.clearfix {  }
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot') format("embedded-opentype"), url('iconfont.woff') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");
}
.iconfont { font-family: iconfont; font-style: normal; -webkit-text-stroke-width: 0.2px; }
.mod_price { font-size: 14px; color: rgb(241, 2, 20); }
.mod_price i { margin-right: 3px; font-family: arial; font-weight: 400; font-size: 12px; }
.o2_mini { min-width: 990px; }
.grid_c1 { margin: 0px auto; width: 1190px; }
.o2_mini .grid_c1 { width: 990px; }
.mod_ver { display: inline-block; width: 0px; height: 100%; vertical-align: middle; font-size: 0px; }
.mod_lazyload { background-image: url('lazyload.gif'); }
.loading, .mod_lazyload, .mod_loading { background-repeat: no-repeat; background-position: 50% 50%; }
.loading, .mod_loading { background-image: url('loading.gif'); }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.mod_lazyload { background-image: url('lazyload@2x.gif'); background-size: 100px 90px; }
	.loading, .mod_loading { background-image: url('loading@2x.gif'); background-size: 25px 25px; }
}
@font-face {
	font-family: "fzzhengheis-el-gbregular";
	font-style: normal;
	font-weight: 400;
	src: url('fzzxh-webfont.eot') format("embedded-opentype"), url('fzzxh-webfont.woff') format("woff"), url('fzzxh-webfont.ttf') format("truetype"), url('fzzxh-webfont.svg') format("svg");
}
.box_hd { position: relative; padding: 0px 20px 0px 30px; height: 55px; line-height: 55px; color: rgb(255, 255, 255); }
.box_hd_col1 { float: left; }
.box_hd_col2 { float: right; }
.box_hd_dec { position: absolute; left: -4px; top: -4px; width: 28px; height: 28px; }
.box_hd_icon, .box_promo, .box_tit { float: left; }
.box_tit { font-family: fzzhengheis-el-gbregular; font-size: 26px; font-weight: 400; line-height: 40px; height: 40px; padding-top: 9px; }
.box_subtit { position: relative; float: right; margin-top: 19px; padding-right: 20px; height: 24px; line-height: 24px; font-size: 14px; color: rgb(255, 255, 255); }
.box_subtit:hover { color: rgb(255, 255, 255); }
.box_subtit_arrow { position: absolute; right: 0px; top: 4px; }
.box_bd { background-color: rgb(255, 255, 255); }
.box_subtit_arrow, .coupon_entry_btn_ico { background-image: url('sprite_index@1x.png'); background-position: -154px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 15px; height: 16px; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.box_subtit_arrow, .coupon_entry_btn_ico { background-image: url('sprite_index@2x.png'); background-position: -76px -130px; background-size: 170px 158px; background-repeat: no-repeat; width: 15px; height: 16px; }
}
.fl { float: left; }
.fr { float: right; }
.w { margin: auto; width: 1190px; }
.o2_mini .w { width: 990px; }
.ci-left, .ci-right, .dd-spacer { display: none ! important; }
.loading { display: block; height: 70px; }
.dorpdown { position: relative; z-index: 21; }
.cw-icon { overflow: hidden; position: relative; z-index: 1; float: left; border: 1px solid rgb(227, 228, 229); }
.dorpdown-layer { display: none; position: absolute; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer { display: block; }
.dorpdown:hover .cw-icon, .hover .cw-icon { padding-bottom: 2px; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-bottom: medium none; background-color: rgb(255, 255, 255); }
#shortcut { border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(227, 228, 229); }
#shortcut .w { height: 30px; line-height: 30px; color: rgb(153, 153, 153); }
#shortcut a { color: rgb(153, 153, 153); }
#shortcut a:hover { color: rgb(200, 22, 35); }
#shortcut li { float: left; }
#shortcut li.spacer { overflow: hidden; margin: 11px 5px 0px; width: 1px; height: 10px; background-color: rgb(204, 204, 204); }
#shortcut .dt { padding-left: 7px; padding-right: 7px; }
#shortcut .dd { line-height: 24px; }
#shortcut .cw-icon { height: 28px; line-height: 28px; }
#shortcut .dorpdown-layer { top: 30px; }
#shortcut .style-red { color: rgb(241, 2, 21); }
.fr .cw-icon { padding-right: 20px ! important; }
.fr .iconfont { position: absolute; right: 5px; top: 10px; width: 12px; height: 12px; line-height: 12px; }
.u-place-tip::before { content: ""; position: absolute; left: 40px; top: -16px; border-width: 8px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(216, 216, 216); }
.u-place-tip::after { content: ""; position: absolute; left: 40px; top: -15px; border-width: 8px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(255, 255, 255); }
#ttbar-login { margin-right: 8px; z-index: 20; }
#ttbar-login .link-login { font-family: verdana\,simsun; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
#ttbar-mycity { margin-left: 200px; }
#ttbar-mycity .iconfont { font-size: 14px; color: rgb(241, 2, 21); }
#ttbar-mycity .dd { left: 0px; width: 300px; padding: 10px; }
#ttbar-mycity .item { float: left; width: 60px; padding: 2px 0px; }
#ttbar-mycity .item a { float: left; padding: 0px 8px; }
#ttbar-mycity .item a:hover { background-color: rgb(244, 244, 244); }
#ttbar-mycity .item a.selected { background-color: rgb(241, 2, 21); color: rgb(255, 255, 255); }
#ttbar-myjd .dorpdown-layer { left: 0px; width: 280px; }
#ttbar-myjd .dd-spacer { left: 0px; width: 82px; }
#ttbar-serv .dd { right: 0px; width: 170px; padding: 10px 0px; }
#ttbar-navs .dd { right: -84px; width: 1188px; padding: 15px 0px; }
.o2_mini #ttbar-navs .dd { width: 988px; }
#header .w { position: relative; z-index: 11; height: 140px; }
#header .style-red { color: rgb(241, 2, 21); }
#logo { z-index: 2; left: 0px; top: -31px; width: 190px; height: 170px; box-shadow: 0px -12px 10px rgba(0, 0, 0, 0.2); background-color: rgb(255, 255, 255); }
#logo, .logo_tit { position: absolute; }
.logo_tit { width: 100%; height: 100%; }
.logo_tit_lk { overflow: hidden; display: block; width: 190px; height: 170px; background-image: url('logo.v2.png'); background-repeat: no-repeat; text-indent: -999px; }
.logo_subtit { display: none; }
.logo_extend { display: none; position: absolute; width: 100%; height: 100%; }
.search-m { position: relative; z-index: 1; height: 60px; }
.search-m .search_logo { display: none; }
.search-m .form { position: absolute; left: 320px; top: 25px; width: 550px; height: 35px; }
.search-m .button, .search-m .text { position: absolute; top: 0px; outline: medium none; }
.search-m .text { left: 0px; padding: 4px; width: 490px; height: 25px; border: 1px solid rgb(241, 2, 21); line-height: 25px; font-size: 14px; color: rgb(152, 152, 152); }
.search-m .button { right: 0px; width: 50px; height: 35px; line-height: 35px; border: medium none; background-color: rgb(241, 2, 21); font-size: 20px; font-weight: 700; color: rgb(255, 255, 255); }
.o2_mini .search-m .form { left: 270px; width: 400px; }
.o2_mini .search-m .text { width: 340px; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.logo_tit_lk { background-image: url('logo.v2@2x.png'); background-size: 190px 170px; }
}
#treasure { position: absolute; right: 0px; bottom: 10px; width: 190px; height: 40px; }
.o2_mini #treasure { display: none; }
#hotwords { overflow: hidden; position: absolute; left: 320px; top: 65px; width: 550px; height: 20px; line-height: 20px; }
#hotwords a { float: left; margin-right: 10px; white-space: nowrap; color: rgb(153, 153, 153); }
#hotwords a:hover { color: rgb(200, 22, 35); }
.o2_mini #hotwords { left: 270px; width: 400px; }
#navitems { overflow: hidden; position: absolute; left: 200px; bottom: 0px; width: 790px; height: 40px; }
#navitems .spacer, #navitems li, #navitems ul { float: left; }
#navitems li { margin-left: 30px; }
#navitems a { position: relative; display: block; height: 40px; line-height: 40px; font-size: 16px; font-weight: 700; color: rgb(85, 85, 85); }
#navitems a:hover { color: rgb(200, 22, 35); }
#navitems .spacer { overflow: hidden; margin-top: 15px; margin-left: 20px; margin-right: -10px; width: 1px; height: 10px; background-color: rgb(204, 204, 204); }
#shelper { overflow: hidden; position: absolute; z-index: 1; left: 270px; top: 59px; width: 398px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
#settleup { position: absolute; right: 95px; top: 25px; }
#settleup .cw-icon { width: 188px; height: 33px; background-color: rgb(255, 255, 255); text-align: center; line-height: 33px; }
#settleup .cw-icon .iconfont { margin-right: 3px; font-size: 16px; color: rgb(241, 2, 20); }
#settleup .cw-icon a { color: rgb(241, 2, 20); }
#settleup .ci-count { position: absolute; top: 5px; left: 140px; right: auto; display: inline-block; padding: 1px; font-size: 12px; line-height: 12px; color: rgb(255, 255, 255); background-color: rgb(241, 2, 21); border-radius: 7px; min-width: 12px; text-align: center; }
#settleup .dorpdown-layer { top: 35px; right: 0px; width: 308px; }
#settleup-content { position: relative; z-index: 2; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.cate { position: relative; z-index: 2; }
.cate_menu { overflow: hidden; padding: 15px 0px; height: 450px; background-color: rgb(110, 101, 104); color: rgb(255, 255, 255); }
.cate_menu_item { overflow: hidden; padding-left: 12px; height: 30px; line-height: 30px; font-size: 0px; }
.cate_menu_line { padding: 0px 4px; font-size: 12px; }
.cate_menu_lk { font-size: 14px; color: rgb(255, 255, 255); }
.cate_pop { position: absolute; left: 190px; top: 0px; width: 998px; min-height: 478px; border: 1px solid rgb(247, 247, 247); background-color: rgb(247, 247, 247); box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); transition: top 0.25s ease 0s; }
.o2_mini .cate_pop { width: 798px; }
.slider_main { position: relative; margin-bottom: 10px; height: 340px; }
.slider_item { background-color: rgb(255, 255, 255); }
.slider_item, .slider_item_lk, .slider_list { overflow: hidden; position: absolute; width: 100%; height: 100%; }
.slider_item_img { display: block; width: 100%; height: 100%; }
.slider_control_item { display: none; position: absolute; z-index: 1; top: 50%; margin-top: -30px; width: 30px; height: 60px; background-color: rgba(0, 0, 0, 0.1); line-height: 60px; text-align: center; }
.slider_control_item:hover { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }
.slider_control_prev { left: 0px; }
.slider_control_next { right: 0px; }
.slider_control_item i { font-size: 20px; color: rgb(255, 255, 255); }
.slider_main:hover .slider_control_item { display: block; }
.slider_indicator { position: absolute; z-index: 1; left: 50%; bottom: 20px; font-size: 0px; padding: 4px 8px; border-radius: 12px; background-color: rgba(255, 255, 255, 0.3); display: none; }
.slider_indicator_btn { display: inline-block; margin-right: 10px; width: 12px; height: 12px; border-radius: 100%; background-color: rgb(255, 255, 255); }
.slider_indicator_btn_last { margin-right: 0px; }
.slider_indicator_btn_active { background-color: rgb(219, 25, 42); }
.slider_extend { margin-left: -10px; height: 130px; }
.slider_bi { overflow: hidden; float: left; margin-left: 10px; width: 390px; height: 130px; }
.slider_bi_lk { display: block; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.slider_bi_img { display: block; width: 390px; height: 130px; }
.o2_mini .slider_bi { width: 290px; }
.user { padding: 0px 10px; height: 115px; border-bottom: 1px solid rgb(230, 230, 230); }
.user_info { overflow: hidden; position: relative; padding: 15px 0px 15px 60px; height: 45px; }
.user_info_avatar { overflow: hidden; position: absolute; margin-left: -60px; width: 45px; height: 45px; }
.user_info_avatar img { display: block; height: 100%; border-radius: 23px; }
.user_info_show p { overflow: hidden; margin-top: 2px; width: 100%; white-space: nowrap; text-overflow: ellipsis; }
.user_info_show a { margin-right: 5px; color: rgb(0, 0, 0); }
.user_info_show a:hover { color: rgb(200, 22, 35); }
.user_profit { overflow: hidden; height: 24px; font-size: 0px; }
.user_profit a { display: inline-block; margin-right: 10px; width: 70px; height: 20px; border: 2px solid rgb(224, 18, 34); line-height: 20px; font-size: 12px; text-align: center; color: rgb(224, 18, 34); }
.user_profit a:hover { background-color: rgb(224, 18, 34); color: rgb(255, 255, 255); }
.news { overflow: hidden; padding: 0px 15px; height: 154px; }
.news .mod_tab_head { padding: 8px 0px 4px; border-bottom: 1px solid rgb(230, 230, 230); position: relative; line-height: 14px; }
.news_more { position: absolute; right: 0px; top: 8px; }
.news .mod_tab_head_item { color: rgb(51, 51, 51); padding-right: 12px; padding-left: 12px; border-right: 1px solid rgb(223, 224, 225); }
.news .news_first { padding-left: 0px; }
.news .news_last { padding-right: 0px; border-right: 0px none; }
.news .mod_tab_content { padding: 12px 0px; }
.news .mod_tab_content_item { display: none; }
.news .mod_tab_content_item_on { display: block; }
.news_item { line-height: 24px; max-width: 160px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.news_tab_active { position: absolute; bottom: -1px; left: -2px; width: 28px; height: 2px; background: rgb(219, 25, 43) none repeat scroll 0% 0%; transform: translateX(0px); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.service { overflow: hidden; position: relative; height: 210px; }
.service_entry { overflow: hidden; width: 190px; }
.service_list { margin-left: -1px; width: 192px; height: 210px; overflow: hidden; }
.service_item { position: relative; overflow: hidden; float: left; width: 47px; height: 69px; border-top: 1px solid rgb(231, 231, 231); border-left: 1px solid rgb(231, 231, 231); text-align: center; }
.service_ico, .service_lk, .service_txt { display: block; }
.service_lk { padding-top: 14px; height: 55px; transition: all 0.15s ease-in-out 0s; }
.service_ico { margin: 0px auto; }
.service_txt { height: 22px; line-height: 22px; border-top: 2px solid rgb(255, 255, 255); }
.service_corner { position: absolute; right: 0px; top: 0px; width: 13px; height: 16px; font-size: 12px; line-height: 12px; text-align: center; background: rgb(224, 17, 33) none repeat scroll 0% 0%; color: rgb(255, 255, 255); transition: all 0.2s ease 0s; }
.service_corner_txt { vertical-align: top; }
.service_corner_ico { position: absolute; bottom: 0px; left: 0px; width: 0px; height: 0px; font-size: 0px; line-height: 0; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 6px; border-color: rgb(224, 17, 33) rgb(224, 17, 33) rgb(255, 255, 255); }
.service_pop { position: absolute; left: 0px; top: 210px; width: 190px; height: 185px; background-color: rgb(255, 255, 255); transition: all 0.2s ease-in-out 0s; }
.service_pop_item { height: 185px; }
.service_pop_close { position: absolute; right: 0px; top: 0px; width: 14px; height: 14px; line-height: 14px; text-align: center; }
.service_pop_close:hover { background-color: rgb(221, 221, 221); }
.fs { z-index: 9; margin-bottom: 10px; }
.fs, .fs_inner { position: relative; }
.fs_inner { z-index: 1; height: 480px; background-color: rgb(246, 246, 246); }
.fs_col1 { width: 190px; margin-right: 10px; }
.fs_col1, .fs_col2 { float: left; height: 100%; }
.fs_col2 { width: 790px; }
.fs_col3 { float: right; margin-left: 10px; width: 190px; height: 100%; background-color: rgb(255, 255, 255); }
.fs_act { display: block; position: absolute; left: 0px; top: 0px; width: 100%; }
.o2_mini .fs_col2 { width: 590px; }
.o2_mini .fs_act { display: none; }
.service_ico_huafei { background-position: 0px -88px; }
.service_ico_huafei, .service_ico_jipiao { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_jipiao { background-position: 0px -44px; }
.service_ico_dianying { background-position: -44px -44px; }
.service_ico_dianying, .service_ico_youxi { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_youxi { background-position: -88px 0px; }
.service_ico_qyg { background-position: -88px -44px; }
.service_ico_jiayou, .service_ico_qyg { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_jiayou { background-position: 0px 0px; }
.service_ico_jiudian { background-position: -44px -88px; }
.service_ico_huoche, .service_ico_jiudian { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_huoche { background-position: -88px -88px; }
.service_ico_zhongchou { background-position: -132px 0px; }
.service_ico_licai, .service_ico_zhongchou { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_licai { background-position: -132px -44px; }
.service_ico_lipin { background-position: -132px -88px; }
.service_ico_baitiao, .service_ico_lipin { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_baitiao { background-position: -44px 0px; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.service_ico_huafei { background-position: 0px -68px; }
	.service_ico_huafei, .service_ico_jipiao { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_jipiao { background-position: 0px -34px; }
	.service_ico_dianying { background-position: -34px -34px; }
	.service_ico_dianying, .service_ico_youxi { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_youxi { background-position: -68px 0px; }
	.service_ico_qyg { background-position: -68px -34px; }
	.service_ico_jiayou, .service_ico_qyg { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_jiayou { background-position: 0px 0px; }
	.service_ico_jiudian { background-position: -34px -68px; }
	.service_ico_huoche, .service_ico_jiudian { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_huoche { background-position: -68px -68px; }
	.service_ico_zhongchou { background-position: -102px 0px; }
	.service_ico_licai, .service_ico_zhongchou { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_licai { background-position: -102px -34px; }
	.service_ico_lipin { background-position: -102px -68px; }
	.service_ico_baitiao, .service_ico_lipin { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_baitiao { background-position: -34px 0px; }
}
.index { background-color: rgb(246, 246, 246); }
.sk { height: 305px; }
.fbt, .sk { margin-bottom: 30px; }
.fbt { height: 444px; }
.coupon { height: 215px; }
.coupon, .entry_c3 { margin-bottom: 30px; }
.entry_c3 { height: 405px; }
.entry_c5, .entry_c6, .entry_c7 { margin-bottom: 30px; height: 195px; }
.rec { height: 100px; background-color: rgb(224, 224, 224); }
.chn, .rec { margin-bottom: 30px; }
.chn { height: 523px; }
.chn_t { height: 578px; }
.more { margin-bottom: 30px; min-height: 300px; }
.mobile { position: relative; z-index: 21; }
.mobile_txt { width: 60px; text-align: center; }
.mobile_static { position: absolute; left: 7px; width: 58px; height: 58px; border: 1px solid rgb(207, 207, 207); }
.mobile_static_qrcode { margin: 4px auto; width: 52px; height: 52px; background: rgb(246, 246, 246) url('mobile_qrcode.png') no-repeat scroll 50% center; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.mobile_static_qrcode { background: transparent url('mobile_qrcode@2x.png') no-repeat scroll 50% center / 50px auto; }
}
.mobile_pop::before, .mobile_static::before { content: ""; position: absolute; display: block; top: -9px; left: 50%; margin-left: -5px; width: 0px; height: 0px; line-height: 0; font-size: 0px; border-width: 5px; border-style: solid; border-color: rgb(228, 228, 228) rgb(228, 228, 228) rgb(246, 246, 246); }
.mobile_pop::before { border-color: rgb(228, 228, 228) rgb(228, 228, 228) rgb(255, 255, 255); left: 158px; }
.mobile .mod_loading { height: 200px; }
.mobile_pop { display: none; position: absolute; left: auto; right: 4px; top: 30px; width: 190px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(207, 207, 207) rgb(207, 207, 207) rgb(96, 87, 90); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); }
.enjoy { height: 582px; margin-top: -20px; z-index: 2; }
.o2_mini .enjoy { height: 485px; }
.enjoyspring2 .enjoy .enjoy_bg { background-image: url('586df0e4nd2ac7388.jpg'); }
.enjoyspring2.o2_mini .enjoy .enjoy_bg { background-image: url('586df0dbn8d7c1cd5.jpg'); }
.enjoyspring2 .enjoy .enjoy_fix { background-image: url('586df94bneea49727.png'); }
.enjoyspring2.o2_mini .enjoy .enjoy_fix { background-image: url('586df951nbdbe5884.png'); }
.sk_inner { overflow: hidden; }
.sk .box_hd { background: transparent url('seckill_hd.png') no-repeat scroll 0px 0px; }
.sk .box_subtit { float: left; margin-left: 12px; }
.sk .box_hd_dec { background-image: url('sprite_index@1x.png'); background-position: -190px -48px; background-size: 218px 188px; background-repeat: no-repeat; width: 28px; height: 28px; }
.sk .box_hd_icon { margin-top: 8px; margin-right: 8px; background-image: url('sprite_index@1x.png'); background-position: 0px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 34px; height: 40px; }
.sk_cd { float: left; }
.sk_cd_tip { float: left; line-height: 45px; padding-top: 10px; font-size: 14px; }
.sk_cd_main { float: left; margin-left: 6px; margin-right: 8px; }
.sk .cd_item { float: left; width: 35px; height: 37px; background-color: rgb(68, 1, 6); color: rgb(249, 0, 19); font-size: 24px; font-family: Arial; font-weight: 700; border-radius: 3px; text-align: center; line-height: 37px; margin-top: 10px; }
.sk .cd_split { float: left; margin: 22px 4px 0px; width: 4px; height: 12px; font-size: 0px; line-height: 0; }
.sk .cd_split_dot { display: block; width: 4px; height: 4px; border-radius: 100%; background-color: rgb(68, 1, 6); }
.sk .cd_split_top { margin-bottom: 4px; }
.sk .cd_split_bottom { top: 30px; }
.sk .box_bd { padding: 12px 0px 13px; height: 225px; overflow: hidden; }
.sk_list_wrapper { float: left; width: 1000px; }
.sk_list { color: rgb(153, 153, 153); }
.sk_item { float: left; width: 170px; height: 225px; padding: 0px 14px 0px 15px; border-right: 1px solid rgb(231, 231, 231); }
.sk_item_pic { position: relative; text-align: center; }
.sk_item_pic_lk { display: block; outline: 0px none; }
.sk_item_img { width: 130px; height: 130px; margin: 17px 0px; }
.sk_item_pic_lk:hover {  }
.sk_item_name { color: rgb(153, 153, 153); display: block; max-width: 100%; overflow: hidden; font-size: 12px; text-align: left; height: 32px; line-height: 16px; overflow-wrap: break-word; word-break: break-all; }
.sk_item_pic_lk:hover .sk_item_name { color: rgb(200, 22, 35); }
.sk_item_shadow { position: absolute; left: 0px; top: 130px; text-align: center; background-image: url('sprite_index@1x.png'); background-position: 0px 0px; background-size: 218px 188px; background-repeat: no-repeat; width: 170px; height: 20px; }
.sk_item_price { padding: 3px 0px; height: 25px; }
.sk_item_price_new { font-size: 18px; font-weight: 700; margin-right: 8px; }
.sk_item_price_new i { font-size: 12px; font-weight: 300; }
.sk_item_price_origin { color: rgb(153, 153, 153); font-size: 12px; }
.sk_item_price_origin del { font-weight: 400; }
.sk_item_tag { position: absolute; top: 0px; left: 0px; text-align: center; background-image: url('sprite_index@1x.png'); background-position: -54px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; z-index: 1; }
.sk_item_tag_txt { font-size: 12px; color: rgb(255, 255, 255); line-height: 14px; display: inline-block; vertical-align: 2px; padding-top: 2px; }
.sk_item_5 { border-right: medium none; }
.sk_special { margin: 0px 10px 0px 0px; float: right; }
.sk_special_pic { display: block; width: 180px; height: 225px; }
.o2_mini .sk_item_5 { display: none; }
.o2_mini .sk_list_wrapper { width: 800px; }
.csstransitions .sk_item_img { transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s, -moz-transform 0.4s ease 0s; transform: translateY(0px); }
.csstransitions .sk_item_pic_lk:hover .sk_item_img { transform: translateY(-5px); }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	.sk .box_hd_dec { background-image: url('sprite_index@2x.png'); background-position: -118px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 28px; height: 28px; }
	.sk .box_hd_icon { background-image: url('sprite_index@2x.png'); background-position: 0px -30px; background-size: 170px 158px; background-repeat: no-repeat; width: 34px; height: 40px; }
	.sk_item_tag { background-image: url('sprite_index@2x.png'); background-position: 0px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
	.sk_item_shadow { background-image: url('sprite_index@2x.png'); background-position: 0px 0px; background-size: 170px 158px; background-repeat: no-repeat; width: 170px; height: 20px; }
}
.enjoy { position: relative; margin-bottom: 30px; }
.enjoy_bg { position: absolute; top: 0px; left: 0px; right: 0px; height: 100%; display: block; outline: 0px none; z-index: 1; }
.enjoy1 .enjoy_bg { background: transparent url('enjoy_bg.jpg') no-repeat scroll center 0px; }
.enjoy_main { position: relative; top: 0px; left: 0px; height: 100%; z-index: 1; }
.enjoy_inner { overflow: hidden; }
.enjoy_tit { float: left; width: 188px; height: 598px; overflow: hidden; }
.enjoy_tit_lk { display: block; width: 100%; height: 100%; background: transparent none no-repeat scroll center 124px; }
.enjoy_wrapper { float: left; width: 980px; padding-top: 23px; }
.enjoy_act { float: left; }
.enjoy_act_list { width: 1000px; height: 430px; overflow: hidden; }
.enjoy_act_item { float: left; width: 190px; height: 210px; margin: 0px 10px 10px 0px; overflow: hidden; }
.enjoy_act_lk { display: block; }
.enjoy_act_img { display: block; width: 100%; height: 100%; }
.enjoy_shop { float: left; }
.enjoy_shop_list { position: relative; width: 1005px; height: 115px; margin-top: 10px; overflow: hidden; }
.enjoy_shop_item { float: left; width: 240px; height: 106px; margin: 0px 10px 10px 0px; overflow: hidden; }
.enjoy_shop_lk { display: block; }
.enjoy_shop_img { display: block; width: 100%; height: 100%; }
.o2_mini .enjoy1 .enjoy_bg { background: transparent url('enjoy_bg_mini.jpg') no-repeat scroll center 0px; }
.o2_mini .enjoy_tit { width: 158px; height: 497px; }
.o2_mini .enjoy_tit_lk { background-position: center 103px; }
.o2_mini .enjoy_wrapper { width: 822px; padding-top: 18px; }
.o2_mini .enjoy_act_list { width: 832px; height: 358px; }
.o2_mini .enjoy_act_item { width: 158px; height: 174px; margin: 0px 8px 10px 0px; }
.o2_mini .enjoy_shop_list { width: 842px; height: 90px; }
.o2_mini .enjoy_shop_item { width: 200px; height: 88px; margin-bottom: 9px; margin-right: 7px; }
.csstransitions .enjoy_act_img, .csstransitions .enjoy_shop_img { transition: opacity 0.2s ease 0s; }
.enjoy_act_lk:hover .enjoy_act_img, .enjoy_shop_lk:hover .enjoy_shop_img { opacity: 0.8; }
.enjoy_fix { display: block; position: fixed; left: 50%; margin-left: -667px; width: 1334px; height: 82px; bottom: -85px; transition: bottom 0.3s ease 0s; background: transparent url('enjoy_fix.png') no-repeat scroll center top; z-index: 10; }
.enjoy_fix_inner { position: relative; height: 85px; }
.enjoy_fix_tit { position: absolute; left: 57px; top: 21px; width: 415px; height: 52px; }
.enjoy_fix_tit_lk { display: block; width: 100%; height: 100%; }
.enjoy_fix_list { position: absolute; left: 531px; top: 30px; width: 660px; height: 33px; overflow: hidden; }
.enjoy_fix_item { float: left; margin: 0px 5px 15px; }
.enjoy_fix_item_lk { display: block; width: 120px; height: 32px; }
.enjoy_fix_item img { display: block; width: 100%; height: 100%; }
.o2_mini .enjoy_fix_tit { left: 47px; top: 17px; width: 345px; height: 42px; }
.o2_mini .enjoy_fix_list { left: 425px; top: 25px; width: 560px; height: 32px; }
.o2_mini .enjoy_fix { width: 1110px; height: 67px; bottom: -67px; background-image: url('enjoy_fix_mini.png'); margin-left: -555px; }
.o2_mini .enjoy_fix_inner { position: relative; height: 67px; }
.o2_mini .enjoy_fix_item { margin: 0px 5px 15px; }
.o2_mini .enjoy_fix_item_lk { width: 100px; height: 27px; }
.mod_footer { padding-bottom: 67px; }
.lift { display: none; position: fixed; z-index: 100; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); background-color: rgb(145, 136, 136); }
.lift_item { border-top: 1px solid rgb(177, 170, 170); transition: background-color 0.1s ease 0s; }
.lift_item_first { border-top: medium none; }
.lift_btn { overflow: hidden; display: block; width: 24px; padding: 10px 5px; line-height: 14px; text-align: center; color: rgb(254, 254, 254); transition: color 0.1s ease 0s; }
.lift_item:hover, .lift_item_on { position: relative; border-bottom: 1px solid rgb(215, 11, 28); margin-bottom: -1px; border-color: rgb(215, 11, 28); background-color: rgb(215, 11, 28); }
.lift_item:hover .lift_btn, .lift_item_on .lift_btn { color: rgb(255, 255, 255); }
.lift_item_top, .lift_item_top:hover { border-top: 1px solid rgb(246, 246, 246); background-color: rgb(94, 74, 74); border-bottom: 0px none; margin-bottom: 0px; }
.lift_item_top .lift_btn { color: rgb(255, 255, 255); }
.lift_btn_arrow { display: block; width: 0px; height: 0px; margin: auto; border-style: solid; border-width: 4px; border-color: rgb(94, 74, 74) rgb(94, 74, 74) rgb(255, 255, 255); }
.o2_mini .lift { display: none; }
/* ::::: https://static.360buyimg.com/devfe/toolbar/1.0.0/??widget/common/common.css ::::: */

.jdm-tbar-panel-header .close-panel, .jdm-tbar-panel-header i, .jdm-toolbar-tab .tab-ico, .jdm-toolbar-tab .tab-tip, .jdm-toolbar-tabs .tabs-tip .ico { display: inline-block; background-image: url('toolbars.png'); background-repeat: no-repeat; }
.i-loading { display: inline-block; width: 32px; height: 32px; background-image: url('loading_001.gif'); background-repeat: no-repeat; }
.jdm-tbar-tipbox2 { text-align: center; }
.jdm-toolbar-wrap { position: fixed; top: 0px; right: 0px; z-index: 9990; width: 0px; height: 100%; }
.jdm-toolbar-wrap a { text-decoration: none; }
.jdm-toolbar { position: absolute; right: 0px; top: 0px; width: 0px; height: 100%; border-right: 6px solid rgb(122, 110, 110); transition: right 0.3s ease-in-out 0s; }
.jdm-toolbar-panels { position: absolute; left: 6px; top: 0px; width: 270px; height: 100%; z-index: 2; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-toolbar-panel { width: 270px; height: 100%; position: absolute; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header { position: relative; width: 270px; height: 40px; line-height: 40px; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header i { margin-right: 4px; margin-left: 10px; vertical-align: top; }
.jdm-tbar-panel-header .title { display: inline-block; height: 40px; color: rgb(94, 80, 80); font: 16px/40px "微软雅黑"; }
.jdm-tbar-panel-header .title em { display: inline-block; vertical-align: top; }
.jdm-tbar-panel-header .close-panel { width: 12px; height: 12px; background-position: 0px -250px; position: absolute; right: 8px; top: 16px; cursor: pointer; transition: transform 0.2s ease-out 0s; }
.jdm-tbar-panel-header .close-panel:hover { transform: rotate(180deg); }
.jdm-tbar-panel-main { position: relative; }
.jdm-tbar-panel-content { width: 270px; overflow-y: auto; overflow-x: hidden; position: relative; }
.jdm-tbar-panel-content .jdm-tbar-tipbox2 { width: 270px; position: absolute; left: 0px; top: 50%; margin-top: -60px; }
.jdm-toolbar-header { position: absolute; top: 0px; right: -6px; }
.jdm-toolbar-tabs { position: absolute; top: 50%; left: -29px; width: 35px; margin-top: -61px; }
.jdm-toolbar-tabs .tabs-tip { position: absolute; top: 0px; right: 35px; height: 35px; line-height: 35px; white-space: nowrap; border-radius: 5px; background: rgb(200, 22, 35) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 10px 0px 30px; }
.jdm-toolbar-tabs .tabs-tip .ico { width: 15px; height: 12px; background-position: -98px -162px; position: absolute; top: 13px; left: 10px; }
.jdm-toolbar-tabs .tabs-tip b { width: 0px; height: 0px; line-height: 0; font-size: 0px; border-width: 6px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent rgb(200, 22, 35); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; right: -12px; top: 12px; z-index: 20; }
.jdm-toolbar-footer { position: absolute; bottom: -1px; width: 100%; left: -29px; }
.jdm-toolbar-footer .jdm-toolbar-tab .tab-text { width: 50px; }
.jdm-toolbar-tab { position: relative; width: 35px; height: 35px; margin-bottom: 1px; cursor: pointer; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; }
.jdm-toolbar-tab .tab-ico { width: 34px; height: 35px; margin-left: 1px; position: relative; z-index: 2; background-color: rgb(122, 110, 110); }
.jdm-toolbar-tab .tab-text { width: 62px; height: 35px; line-height: 35px; color: rgb(255, 255, 255); text-align: center; font-family: "微软雅黑"; position: absolute; z-index: 1; left: 35px; top: 0px; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; transition: left 0.3s ease-in-out 0.1s; }
.jdm-toolbar-tab .tab-sub { position: absolute; z-index: 3; right: 2px; top: -5px; height: 11px; padding: 1px 2px; border: 1px solid rgb(182, 29, 29); overflow: hidden; color: rgb(255, 255, 255); font: 11px/11px verdana; text-align: center; min-width: 11px; border-radius: 10px; background-color: rgb(204, 96, 96); background-image: linear-gradient(to bottom, rgb(204, 96, 96) 0px, rgb(182, 29, 29) 100%); }
.jdm-toolbar-tab .tab-tip { position: absolute; top: 8px; right: 10px; width: 6px; height: 6px; background-position: -150px -150px; z-index: 999; }
.jdm-tbar-tab-jdvip .tab-ico { background-position: -88px -175px; }
.jdm-tbar-tab-cart .tab-ico { background-position: -50px 0px; }
.jdm-tbar-tab-follow .tab-ico { background-position: -50px -50px; }
.jdm-tbar-tab-history .tab-ico { background-position: -50px -100px; }
.jdm-tbar-tab-jimi .tab-ico { background-position: -50px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-header i { width: 18px; height: 19px; margin-top: 10px; background-position: 0px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-content { overflow: hidden; }
.jdm-tbar-panel-jdvip .jdm-tbar-panel-header i { width: 18px; height: 19px; margin-top: 10px; background-position: -94px -211px; }
.jdm-tbar-tab-message .tab-ico { background-position: -190px -150px; }
.jdm-tbar-tab-top .tab-ico { background-position: -50px -250px; }
.jdm-tbar-tab-feedback .tab-ico { background-position: -50px -300px; }
.jdm-tbar-panel-ad .jdm-tbar-panel-content { overflow: hidden; }
